<form class="col s12 loginForm">
  <div class="row">
    <div class="input-field col s12">
      <input name="email" [(ngModel)]="email" id="email" type="email" class="validate">
      <label for="email">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input name="senha" [(ngModel)]="senha" id="senha" type="password" class="validate">
      <label for="senha">Senha</label>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <button class="btn waves-effect waves-light" type="submit" name="action" (click)="logar()">Entrar
        <i class="material-icons right">send</i>
      </button>
    </div>
    <div class="col s12" style="margin-top: 12px;">
      <button class="waves-effect waves-light btn" routerLink="/cadastro"><i class="material-icons left">add_circle_outline</i>Criar nova conta</button>
    </div>
  </div>
</form>